.password-root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Nunito sans;
  }
  
  .password-home-container {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    width: 350px; /* Adjust the width as needed */
    border-radius: 10px;
    position: relative;
  }
  .password-home-container p{
    text-align: left;
  }
  
  .guidelines {
    margin-bottom: 20px;
    
  }
  .password-home-container .guidelines p{
    text-align: left;
  }
  
  .password-container {
    width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .password,
  .confirm-password {
    margin-bottom: 0px;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
  }
  
  .password-strength {
    margin-bottom: 15px;
    /* margin-top: 0px; */
    /* font-weight: bold; */
    /* font-size: 22px; */
  }
  .blank span{
    color: #aaa;
  }
  
  .strong span {
    color:  #2DAF7D;
  }
  
  .moderate span{
    color: #F9AE35;
  }
  
  .week span{
    color:  #FF4B47;
  }
  
  .btn {
    width: 100%;
    padding: 10px; /* Adjust the padding as needed */
    background-color: #F81B66;
    color: #fff;
    border: 2px solid #F81B66;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
  }
  
  .btn:hover {
    background-color:hsl(340, 94%, 45%);
    border: 2px solid hsl(340, 94%, 45%) ;
    color: #fff;
  }
  .backward-icon {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    cursor: pointer;
  }
  
  .backward-icon img { 
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
  }
  .password-container form {
    text-align: left;
  }
  .password-backward-img{
    display: flex;
    justify-content: flex-start;
    
  }
  .password-backward-img img{
    width:30px;
    height: 30px;
    cursor: pointer;
  }